.custom-input-styles {
    border: none;
    outline: none;
    &:focus {
        outline: 2px solid #0077FF;
    }
}

.custom-gradient-pages-text {
    background: linear-gradient(45deg, #8a2be2, #ff8a00, #ff4444, #4b0082, #1e90ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: gradientAnimation 10s infinite alternate;
    border: 1px solid #d1c4c4;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(45deg, #ffffff, #ffffff);
    }
    50% {
        background: linear-gradient(45deg, #f0f0f0, #f0f0f0);
    }
    100% {
        background: linear-gradient(45deg, #f5f5f5, #f5f5f5);
    }
}


.custom-form input, 
.custom-form textarea {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #d1c4c4;
}

.custom-btn-bg-pages {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(45deg, #8a2be2, #ff8a00, #ff4444, #4b0082, #1e90ff);
    background-size: 200% 200%;
    transition: background-position 0.5s ease-in-out;
}

.custom-btn-bg-pages:hover {
    background-position: 100% 100%;
}

